name: BaitersBurger Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ develop ]

jobs:

  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn -B clean test -Dspring.profiles.active=ci

  sonar:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Generate Coverage
        run: mvn -B clean verify -Dspring.profiles.active=ci

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=baitersburger-customer \
            -Dsonar.projectKey=baitersburger-customer \
            -Dsonar.login=$SONAR_TOKEN
