name: BaitersBurger Pipeline

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Unit Tests
        run: ./mvnw -B clean test

  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build application package
        run: ./mvnw -B package -DskipTests

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: baitersburger-customer-jar
          path: target/*.jar
