name: BaitersBurger Pipeline

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Unit Tests
        run: mvn -B clean test -Dspring.profiles.active=ci

  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build application package
        run: mvn -B package -DskipTests -Dspring.profiles.active=ci

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: baitersburger-customer-jar
          path: target/*.jar

  code-quality:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run tests with coverage
        run: mvn clean verify -Dspring.profiles.active=ci

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=Leonardo Kegel \
          -Dsonar.projectKey=leonardokegel-baitersburger-customer \
          -Dsonar.login=$SONAR_TOKEN
